.customHeader > header {
  background-color: rgb(000, 178, 221); /* Adjust RGB values as needed */
}
.input {
  color: #007287;
  width: 20vw !important;
  /* margin-top: 1em; */
}

.btncreate {
  display: flex !important;
  justify-content: space-between !important;
  padding-top: 4vh;
  padding-bottom: 2vh;
}

.ButtonStyle {
  margin-right: 50px;
  margin-left: 50px;
}

.customFooter {
  padding: 10px;
}

.flexBoxStart {
  margin-bottom: 20px;
}

.flexboxRegistreer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 0; /* Square corners */
}

.horizontalLayout {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: space-between !important;
}

.flexsoImg {
  padding-bottom: 20px;
  padding-top: 20px;
}

.border{
  border: 1px solid rgba(000, 178, 221, 0.2) !important;
}

.body{
  background-color: rgba(000, 178, 221, 0.1) !important;
}